.navbar-nav {
    display: flex;
    justify-content: center;
  }
  
.nav-item {
    display: flex;
    justify-content: center;
    
}
  
button {
    margin: 0 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.navbar-brand img {
    margin-right: 10px;
}